@use "atomic/variables" as *;
@use 'atomic/atoms';
@use 'atomic/molecules';
@use 'atomic/organisms';




@media only screen and (min-width: 700px) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 3fr;
    
    }
    
    .intro {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    .main {
        grid-column: 1/2;
    }
    
}
