$fonts-headline: "Times New Roman", Verdana, Arial, sans-serif;
$fonts-body: "Trebuchet MS", arial, sans-serif;
$background-color: #d8dbe2;
$primary: #8997a7;
$accent1: #446aa0;
$accent2: #4b3220;
$grey-sidebar: #585858;
$text-dark: #131e36;
$text-light: #ffffff;
$bord: 1px solid #000000;